---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const postEntries = await getCollection('posts');
  return postEntries.map( (post) => {
    return {
      params: { 
        slug: post.slug }, 
        props: { post },
      }
    }
  );
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<h1>{post.data.title}</h1>
<Content />