---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const postEntries = await getCollection('posts');
  return postEntries.map( (post) => {
    return {
      params: { 
        slug: post.slug }, 
        props: { post },
      }
    }
  );
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<BaseLayout>
  <h1>{post.data.title}</h1>
  <p class="published">Posted: <FormattedDate date={post.data.pubDate}/></p>
  <p class="author">by - {post.data.author}</p>
  <div class="content">
    <Content />
  </div>
</BaseLayout>

<style>
  .published {
    font-size: x-small;
  }

  .author {
    font-size: small;
    font-weight: var(--fw-bold);
  }
</style>
