---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";

const title = "Crew";
const postsList = await getCollection('posts', ({data})=>{
	return data.category == title;
});

---

<BaseLayout title={title}>
	<h1>{title}</h1>
	<div class="blogCards">
		{ postsList.map( (post) => (
				<PostCard post = {post} />
				))
			}
	</div>
</BaseLayout>

<style>
	.blogCards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1.5rem;
	}
</style>