@font-face {
  font-family: "Urbanist";
  font-weight: 900;
  src: url("./src/assets/fonts/Urbanist-Black.woff2") format("woff2"),
    url("./src/assets/fonts/Urbanist-Black.woff") format("woff");
}
@font-face {
  font-family: "Urbanist";
  font-weight: 700;
  src: url("./src/assets/fonts/Urbanist-Bold.woff2") format("woff2"),
    url("./src/assets/fonts/Urbanist-Bold.woff") format("woff");
}
@font-face {
  font-family: "Urbanist";
  font-weight: 700;
  font-style: italic;
  src: url("./src/assets/fonts/Urbanist-BoldItalic.woff2") format("woff2"),
    url("./src/assets/fonts/Urbanist-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Urbanist";
  font-weight: 600;
  src: url("./src/assets/fonts/Urbanist-Medium.woff2") format("woff2"),
    url("./src/assets/fonts/Urbanist-Medium.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("./src/assets/fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("./src/assets/fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("./src/assets/fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("./src/assets/fonts/opensans-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("./src/assets/fonts/opensans-semibold-webfont.woff2") format("woff2"),
    url("./src/assets/fonts/opensans-semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: url("./src/assets/fonts/opensans-italic-webfont.woff2") format("woff2"),
    url("./src/assets/fonts/opensans-italic-webfont.woff") format("woff");
}

html {
  color-scheme: dark, light;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
}

h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
}

h2,
h3 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
}
