---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "404 Error";
---

<BaseLayout title={title}>
	<div class="errorpage">
		<h1>Oops!</h1>
		<h2>The page you're looking for is not here...</h2>
		<button>Back Home</button>
	</div>
</BaseLayout>
