---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
---

<BaseLayout title={title}>
  <article>
    <h1>Something about me</h1>
    <img class="image" src="../public/images/pages/About-Jim.jpg" alt="Author in running gear">
    <p>Hi, I’m Jim and I guess I am an ultrarunner. I find it difficult to apply that label to myself when I see what so many other athletes are accomplishing. I ran my first marathon in 1999 after starting running earlier that year. I was never interested in shorter races and had only done one 10k prior to my first marathon.</p>
    <p>Today I’ve completed several road and trail marathons, many trail runs of 50k to 50 miles, and one 100 mile ultra in 2021. I DNF’d my 2nd 100 attempt in 2023 but am training for the next one already!</p>
    <p>When training for that first road marathon I fell in love with the long run. To this day I still feel as though the fun doesn’t start until you pass the 10-mile mark. </p>
    <p>My day job is helping software developers create applications to solve business problems. Just a normal guy, trying to fit many hours of training into an already full schedule. I’ve been doing so for many years, lots of them when I had children at home. I hope I’ve learned a little that can help you enjoy your trail running, training, and racing adventures. That said, there is always something new to learn and share.</p>
    <p>If you like what you see I hope you’ll come back and spread the word.</p>
    <p>Thanks for visiting the site.</p>
    <p>Jim</p>
  </article>
</BaseLayout>

<style>
  .image {
    margin: .5em;
    max-width: 45%;
    float: right;
    border-radius: 20px;
    box-shadow: 3px 6px 18px var(--clr-black);
  }
</style>