---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
---

<BaseLayout title={title}>
	<h1>Something about me</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatem labore expedita. Architecto, repellendus! Iure sunt incidunt velit voluptatum molestiae! Recusandae quaerat earum cupiditate dicta nihil ad tempora perferendis nulla beatae nisi, ipsam ut saepe qui odio excepturi aperiam optio! Reprehenderit quibusdam qui magnam maiores facilis asperiores non aperiam ducimus laborum dolore ullam veniam culpa illo saepe, quae ipsum obcaecati perspiciatis nam nulla magni suscipit architecto. Vero in reprehenderit culpa possimus amet, unde consectetur ex nemo, illum corporis aliquam alias?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quasi cum mollitia quae quo beatae asperiores inventore voluptatum aut animi.</p>

</BaseLayout>
