---
import BaseLayout from "../layouts/BaseLayout.astro";
import welcome from "../assets/welcome.jpg";
const title = "Home";
---

<BaseLayout title={title}>
	<div class="home">
		<h1>Welcome</h1>
		<img class="image" src={welcome} alt="desertscape with water in foreground">
		<p>
			If you're new to trail running, or experienced but looking to take on a new distance, I'm here to help. I publish articles and information I wish I had access to when I began my trail running jouirney many years ago.
		</p>
		<p>You can think of me as your Ultra-running general contractor. I've got information on a lot of different aspects of the sport. I can help you build a solid foundation, them build on that whatever you like.</p>
		<div class="newsletter">
			<!-- <p>If you find this information helpful, you can have it delivered to your in-box by signing up for my newsletter. I don't share my list with anyone and don't send anything but my newsletter.</p> -->
			<!-- When you have a newsletter, add this back to the page and wire it up
				<button class="btn-cta">Add Me To Your List</button>
			-->
		</div>
	</div>
</BaseLayout>

<style>
	.image {
		border-radius: 20px;
		box-shadow: 3px 6px 18px var(--clr-black);
		margin-bottom: 1em;
	}
	</style>