---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Home";
---

<BaseLayout title={title}>
	<h1>Welcome</h1>
	<p>
		If you're new to trail running, or experienced but looking to take on a new distance, I'm here to help. I publish articles and information I wish I had access to when I began my trail running jouirney many years ago.
	</p>
<div class="newsletter">
	<p>If you find this information helpful, you can have it delivered to your in-box by signing up for my newsletter. I don't share my list with anyone and don't send anything but my newsletter.</p>
	<button>Add Me To Your List</button>
</div>

</BaseLayout>
