---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Test";
---

<BaseLayout title={title}>
	<h1>{title}</h1>
	<h2>This is a sub-title</h2>
	<img
		src="/src/assets/images/mountains-italy-alps-1280.jpg"
		alt="Mountain landscape with a trail running through a large valley in the italian alps"
	/>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Non atque ipsum
		corrupti repellendus unde, illo a, animi dolorem iure autem possimus est
		consequatur commodi dolorum.
	</p>
</BaseLayout>
