<nav class="categories">
  <a class="category" href="/epic/blog/training">Training</a>
  <a class="category" href="/epic/blog/gear">Gear</a>
  <a class="category" href="/epic/blog/racing">Racing</a>
  <a class="category" href="/epic/blog/nutrition">Nutrition</a>
  <a class="category" href="/epic/blog/crew">Crew</a>
</nav>
<style>
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: .5em;
}

.category {
  font-size: small;
  font-weight: var(--fw-semibold);
  color: var(--clr-primary-500);
  border: 1px solid var(--clr-primary-500);
  border-radius: 5px;
  padding: 0 .5rem;
}

.categories a {
  text-decoration: none;
}

.categories a:hover {
  border-color: var(--clr-primary-900);
  font-weight: var(--fw-bold);
}

</style>