<nav class="categories">
  <a class="category" href="/blog/training">Training</a>
  <a class="category" href="/blog/gear">Gear</a>
  <a class="category" href="/blog/racing">Racing</a>
  <a class="category" href="/blog/nutrition">Nutrition</a>
  <a class="category" href="/blog/crew">Crew</a>
</nav>
<style>
  a:hover {
    border-color: var(--clr-primary-900);
  }

  .category {
    font-size: small;
    font-weight: var(--fw-semibold);
  }

  .category:hover {
    font-weight: var(--fw-bold);
  }

</style>