<nav class="categories">
  <a class="category" href="#">Training</a>
  <a class="category" href="#">Gear</a>
  <a class="category" href="#">Racing</a>
  <a class="category" href="#">Nutrition</a>
  <a class="category" href="#">Crew</a>
</nav>
<style>
  a:hover {
    border-color: var(--clr-primary-900);
  }

</style>