<footer class="footer">
  <div class="socials">
    <p>Facebook</p>
    <p>Instagram</p>
  </div>
  <div class="legal">Privacy Policy / Terms and Conditions</div>
  <div class="copyright">
    <p>Do Your Epic &copy; All Rights Reserved 2023</p>
    <p>Design by Jim Cross</p>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary-500);
    padding: 1em .5em;
    color: var(--clr-white);
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

  }
  
  .copyright, .legal {
    font-size: x-small;
  }
</style>
