---
import { Icon } from 'astro-icon';
---
<footer class="footer">
  <div class="socials">
    <a href="#"><Icon name="mdi:facebook" class="social--icon" /></a>
    <a href="#"><Icon name="mdi:instagram" class="social--icon" /></a>
  </div>
  <div class="legal">Privacy Policy / Terms and Conditions</div>
  <div class="copyright">
    <p>Do Your Epic &copy; All Rights Reserved 2023</p>
    <p>Design by Jim Cross</p>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary-500);
    padding: 1em .5em;
    color: var(--clr-white);
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

  }
  
  .copyright, .legal {
    font-size: x-small;
  }

  .social--icon {
    fill: var(--clr-primary-900);
    /* or */
    color: var(--clr-primary-900);
    height: 48px;
    border-radius: 40px;
  }

 path {
  fill: green;
 }

 
</style>
