<footer class="footer">
  <div class="socials">
    <p>Facebook</p>
    <p>Instagram</p>
  </div>
  <div class="copyright">
    <p>Do Your Epic &copy; All Rights Reserved 2023</p>
    <p>Design by Jim Cross</p>
  </div>
  <div class="Legal">Privacy Policy / Terms and Conditions</div>
</footer>
