---
---
<header class="base-header">
  <div class="logo"><h1><a href="/">Do Your Epic</a></h1></div>
  <div class="top-menu">
    <a href="/blog/">Blog</a>
    <a href="/about/">About</a>
  </div>
</header>
<style>
  .top-menu {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
</style>