---
---
<header class="base-header">
  <div class="logo"><h1><a href="/epic/">Do Your Epic</a></h1></div>
  <div class="top-menu">
    <a href="/epic/blog/">Blog</a>
    <a href="/epic/about/">About</a>
  </div>
</header>

<style>
  .top-menu {
    font-size: 1.2em;
    font-weight: var(--fw-semibold);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
</style>