---
import HeadAndMeta from "../components/HeadAndMeta.astro";
import Header from "../components/Header.astro";
import Categories from "../components/Categories.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { title } = Astro.props;
---
<html lang="en">
  <HeadAndMeta title={title}/>
  <body>
    <div class="container">
      <Header />
      <Categories />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  main {
    margin-bottom: 2em;
  }

  .container {
    max-width: 90%;
    margin: 0 auto;
  }
</style>
