---
import HeadAndMeta from "../components/HeadAndMeta.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { title } = Astro.props;
---
<html lang="en">
  <HeadAndMeta />
  <body>
    <Header />
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  p {
    line-height: normal;
  }
</style>
