---
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

 const { frontmatter } = Astro.props;
 const { post } = Astro.props;
---
<BaseLayout>
  <h1>{post.data.title}</h1>
  <p class="published">
     by <span class="author">{post.data.author}</span>
      on <FormattedDate date={post.data.pubDate} />
  </p>
  <div class="content">
    <slot />
  </div>
</BaseLayout>

<style>
  .published {
    font-size: x-small;
  }

  .author {
    font-size: small;
    font-weight: var(--fw-bold);
  }

  .content {
    margin-top: .5em;
  }
</style>
