---
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

 const { frontmatter } = Astro.props;
 const { post } = Astro.props;
---
<BaseLayout>
  <h1>{post.data.title}</h1>
  <p class="published">
     by <span class="author">{post.data.author}</span>
      on <FormattedDate date={post.data.pubDate} />
  </p>
  <div class="content">
    <slot />
  </div>
  <div class="footer">
    <a href="/epic/blog">&lt;-- Back to Blog</a>
  </div>
</BaseLayout>

<style>
  .published {
    font-size: x-small;
  }

  .author {
    font-size: small;
    font-weight: var(--fw-bold);
  }

  .content {
    margin-top: .5em;
  }

  .footer {
    margin: 1em;
  }

  .footer a {
    margin-top: 2em;
    font-family: var(--ff-headings);
    color: var(--clr-primary-900);
  }

  .footer a:hover {
    color: var(--clr-primary-500);
  }
</style>
